$MainFont: 'Urbanist', sans-serif;

$White: #ecf6fa;
// $White: #DDDCDC;

$Cloudy: #5bb7d1;
$Sunny: #f6c27b;
$Rainy: #354c72;

// $Default: #151515;
// $Default: #242526;
$Default: #161B33;