@import './global.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 580px;
    font-family: $MainFont;
    color: $White;
    background-color: $Sunny;
}

#root {
    margin: 0 24px;
    position: relative;
}